<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" type="text/css" href="IniciaSessi%C3%B3.css">
        
    </head>

    <body>
        
    <!-- ---------------------------------------NAV------------------------------------ -->
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="textnav">
            <a class="navbar-brand" href="Index.html"><img src="Images/Lycu%20purple.png" id="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="file:///C:/Users/Usuario/Desktop/2%20DAW/MiniProjecte/index.html" >Inici <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Ranking.html">Ranking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Biblioteca.html">Biblioteca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Quisom.html">Qui som?</a>
                    </li>
                </ul>
                <ul class="navbar-nav md-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="IniciaSessi%C3%B3.html">Inicia sessió</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Registra.html">Registra't</a>
                    </li>
                </ul>
            </div>
        </nav>
        
    <!-- ---------------------------------------BODY------------------------------------ -->
        
        
        
    
        <!-- -----Inici de sessió----- -->
        
        <div class="row">
            
            <div class="col-lg-11 maincontent">
            <div class="col-xs-1" align="center" id="titol">Inicia sessió
            </div>
                <div class="container sesio">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3 inicisesioitems" >
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
						</div>
						<hr> <!-- Linia -->
					</div>
					<div class="panel-body"> 
							<div class="col-lg-12 inicisesioitems">
								<form id="login-form" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Usuari" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contrasenya">
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember" class="recorda"> Recorda'm </label>
									</div>
                                    <div class="form-group text-center">
										<input type="button" class="btn btn-light iniciarsessiobutton" value="Iniciar sessió">
                                        <a href="Registra.html"><input type="button" class=" btn btn-light iniciarsessiobutton" value="No tens compte?"></a>
									</div>
                                    <div class="form-group text-center">
										<a class="forgot-password" href="#">Has oblidat la teva contrasenya?</a>
									</div>
								</form>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
            </div>
            
                    
            
        </div>
        
        
        <!-- ---------------------------------------FOOTER------------------------------------ -->
        
        <!-- Footer -->
<footer class="page-footer font-small indigo myfooter ">
    
    <table style="width:100%; color: white; text-align: center">
  <tr class="navtext">
    <td colspan="2" id="textnav">Llocs d'interés</td>
    <td colspan="2" id="textnav">Xarxes</td>
  </tr>
  <tr>
    <td><a class="nav-link" href="Index.html">Inici</a></td>
    <td><a class="nav-link" href="Quisom.html">Qui som?</a></td>
    <td><a href="#!"><img src="Images/facebook.png" class="imagefooter"></a></td>
    <td><a href="#!"><img src="Images/youtube.png" class="imagefooter"></a></td>
  </tr>
  <tr>
    <td><a class="nav-link" href="Ranking.html">Ranking</a></td>
    <td><a class="nav-link" href="IniciaSessi%C3%B3.html">Inicia sessió</a></td>
      <td><a href="#!"><img src="Images/instagramlogo.png" class="imagefooter"></a></td>
      <td><a href="#!"><img src="Images/google%20plus.png" class="imagefooter"></a></td>
  </tr>
  <tr>
    <td><a class="nav-link" href="Biblioteca.html">Biblioteca</a></td>
    <td><a class="nav-link" href="Registra.html">Registra't</a></td>
      <td><a href="#!"><img src="Images/twitter.png" class="imagefooter"></a></td>
    <td><a href="#!"><img src="Images/github.png" class="imagefooter"></a></td>
  </tr>
</table>

    <!-- Copyright -->
    <table style="width:100%; color: white; text-align: center" class="wap">
  <tr>
    <td colspan="2"><input type=image src="Images/websalpunt.png" width="auto" height="100"></td>
    <td colspan="2"><input type=image src="Images/dina%20hosting.png" width="auto" height="50"></td>
  </tr>
  
    <!-- Copyright -->
    </table>
    <div class="footer-copyright text-center py-3 titolfooter">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Llicència de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
    </div>
  </footer>
  <!-- Footer -->

	</body>
</html>